XSD/isgpd-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
           xmlns:gpdcom="http://www.broservices.nl/xsd/gpdcommon/1.0"
           xmlns:isgpd="http://www.broservices.nl/xsd/isgpd/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.broservices.nl/xsd/isgpd/1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="0.1.0">

    <xs:annotation>
        <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
            <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
        </xs:appinfo>
    </xs:annotation>

    <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
    <xs:import namespace="http://www.broservices.nl/xsd/gpdcommon/1.0" schemaLocation="gpdcommon.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schema.broservices.nl/profile/gml/1.0/gml-profile.xsd"/>
    <!--
    <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
    <xs:import namespace="http://www.broservices.nl/xsd/gpdcommon/1.0" schemaLocation="https://schema.broservices.nl/xsd/gpdcommon/1.0/gpdcommon.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schema.broservices.nl/profile/gml/1.0/gml-profile.xsd"/>
	-->

	<xs:element name="intakeResponse" type="brocom:IntakeResponseType" />
	<xs:element name="parseFault" type="brocom:ParseFaultType" />

    <xs:element name="replaceRequest" type="isgpd:CorrectionRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht replaceRequest is een specialisatie van brocom:CorrectionRequest, waaraan het een correctiereden en een brondocument toevoegt.
Explanation: Met een replaceRequest, dat een dataleverancier (ofwel tevens bronhouder danwel in opdracht van de bronhouder) aanbiedt bij de innamewebservice van het BRO systeem, wordt de inhoud van een eerder aangeboden brondocument in de tijdlijn van de materiële geschiedenis vervangen.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="CorrectionRequestType">
        <xs:complexContent>
            <xs:extension base="brocom:CorrectionRequestType">
                <xs:sequence>
                    <xs:element name="correctionReason"
                           minOccurs="1"
                           maxOccurs="1"
                           type="isgpd:CorrectionReasonType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>CorrectionReason</CodeListName>
                                <CodeListURI>urn:bro:gpd:CorrectionReason</CodeListURI>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   De reden waarom de geregistreerde gegevens worden vervangen.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="sourceDocument"
                           type="isgpd:SourceDocumentType"
                           minOccurs="1"
                           maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

	<xs:element name="insertRequest" type="isgpd:CorrectionRequestType">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht insertRequest is een specialisatie van brocom:CorrectionRequest, waaraan het een correctiereden en een brondocument toevoegt.
Explanation: Met een insertRequest, dat een dataleverancier (ofwel tevens bronhouder danwel in opdracht van de bronhouder) aanbiedt bij de innamewebservice van het BRO systeem, wordt het aangeboden brondocument ingevoegd in de tijdlijn van de materiële geschiedenis.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="deleteRequest" type="isgpd:CorrectionRequestType">
		<xs:annotation>
		<xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht deleteRequest is een specialisatie van brocom:CorrectionRequest, waaraan het een correctiereden en een brondocument toevoegt.
Explanation: Met een deleteRequest, dat een dataleverancier (ofwel tevens bronhouder danwel in opdracht van de bronhouder) aanbiedt bij de innamewebservice van het BRO systeem, wordt het eerder aangeboden brondocument verwijderd uit de tijdlijn van de materiële geschiedenis.</xs:documentation>
		</xs:annotation>
	</xs:element>

    <xs:element name="moveRequest" type="isgpd:MoveRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht moveRequest is een specialisatie van isgpd:CorrectionRequest, waaraan het een attribuut dateToBeCorrected toevoegt.
Explanation: Met een replaceRequest, dat een dataleverancier (ofwel tevens bronhouder danwel in opdracht van de bronhouder) aanbiedt bij de innamewebservice van het BRO systeem, wordt een eerder aangeboden brondocument verplaatst op de tijdlijn van de materiële geschiedenis.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="MoveRequestType">
        <xs:complexContent>
            <xs:extension base="isgpd:CorrectionRequestType">
                <xs:sequence>
                    <xs:element name="dateToBeCorrected"
                           type="brocom:PartialDateType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De (mogelijkerwijs onvolledige) datum van de gebeurtenis, afgeleid van een eerder aangeboden brondocument, die moet worden vervangen.
Explanation: De juiste datum is opgenomen in het sourceDocument.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="registrationRequest" type="isgpd:RegistrationRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Het bericht RegistrationRequest is een specialisatie van de abstract klasse RegistrationRequest uit de package brocommon, waaraan het een sourceDocument toevoegt. Met dit bericht kan een nog niet geregistreerd grondwaterproductiedossier in de BRO worden opgenomen of kan een een geregistreerd grondwaterproductiedossier worden aangevuld of voltooid.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="RegistrationRequestType">
        <xs:complexContent>
            <xs:extension base="brocom:RegistrationRequestType">
                <xs:sequence>
                    <xs:element name="sourceDocument"
                           type="isgpd:SourceDocumentType"
                           minOccurs="1"
                           maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="GPD_EndRegistration"
               type="isgpd:GPD_EndRegistrationType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het brondocument wordt aangeboden wanneer het grondwaterproductiedossier wordt beëindigd omdat er geen rapportages meer worden verwacht. De registratie is met dit brondocument voltooid en het registratieobject kan niet meer worden aangevuld.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GPD_EndRegistrationType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="endTime" type="xs:date" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Tijdstip waarop het object in de werkelijkheid niet meer geldig is.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GPD_EndRegistrationPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="isgpd:GPD_EndRegistration"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GPD_StartRegistration"
               type="isgpd:GPD_StartRegistrationType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Dit brondocument wordt aangeboden wanneer de initiële gegevens over een grondwaterproductiedossier worden vastgelegd in de basisregistratie ondergrond. De registratie van het GPD in de BRO is met dit document gestart.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GPD_StartRegistrationType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="objectIdAccountableParty"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie die door of voor de bronhouder is gebruikt om het object in de eigen administratie te kunnen vinden, voordat het was geregistreerd in de basisregistratie ondergrond.
Explanation: Het gegeven wordt alleen uitgeleverd aan de dataleverancier en de bronhouder. Het is in de registratie opgenomen om de communicatie tussen de registerbeheerder en de bronhouder of dataleverancier te vergemakkelijken.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="startTime" type="xs:date" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Tijdstip waarop het object in de werkelijkheid is ontstaan.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GPD_StartRegistrationPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="isgpd:GPD_StartRegistration"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GPD_AddReport"
               type="isgpd:GPD_AddReportType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Dit brondocument wordt aangeboden wanneer het grondwaterproductiedossier wordt aangevuld met een rapportage. </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GPD_AddReportType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="reportID" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het door de bronhouder aangeleverde identificerend gegeven van de rapportage.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="method"
                           minOccurs="1"
                           maxOccurs="1"
                           type="gpdcom:MethodType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>Method</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De methode waarmee de volumes van de Volume reeks zijn bepaald.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1"
                           maxOccurs="unbounded"
                           name="volumeSeries"
                           nillable="false"
                           type="gpdcom:VolumeSeriesType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De kenmerken van de gerapporteerde volumes van deze rapportage in combinatie met de bijbehorende periode.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="installationOrFacility"
                           type="gpdcom:InstallationOrFacilityPropertyType"
                           minOccurs="1"
                           maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GPD_AddReportPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="isgpd:GPD_AddReport"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CorrectionReasonType">
        <xs:simpleContent>
            <xs:restriction base="gml:CodeWithAuthorityType">
                <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:gpd:CorrectionReason"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="SourceDocument" type="isgpd:SourceDocumentType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Het datatype sourceDocument biedt de keuze uit een aantal verschillende typen brondocumenten, waarvan er één opgenomen is in een innameverzoek.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="SourceDocumentType">
        <xs:choice minOccurs="1" maxOccurs="1">
			<xs:element ref="isgpd:GPD_StartRegistration"/>
			<xs:element ref="isgpd:GPD_AddReport"/>
			<xs:element ref="isgpd:GPD_EndRegistration"/>
		</xs:choice>
    </xs:complexType>
</xs:schema>
